<article>
    <div>
        <div class="banner">
            <button mat-raised-button color="primary" routerLink="/product/2">Mas informacion</button>
        </div>

        <img src="../../../../assets/img/banner.jpg" alt="">

    </div>
    <h1>Productos en Oferta:</h1>
    <div *ngIf="laptops.length==0" class="loading">
        <mat-spinner></mat-spinner>
    </div>
    <div class="container5">
        <div class="cards" *ngFor="let laptop of laptops">
            <section>
                <div class="stock">
                    <h4 class="outStock" *ngIf="laptop.stock==0">Sin Stock</h4>
                    <h4 class="avalible" *ngIf="laptop.offer">OFERTA</h4>
                </div>
                <div class="imgAndTitle">
                    <img class="imgCards" [src]="laptop.image" [alt]="laptop.name">
                </div>

                <h2>{{laptop.name}}</h2>
                <h3>{{laptop.price|currency : 'USD' : 'symbol' : '1.0-0'}}</h3>
                <p *ngIf="laptop.offer" class="previous">Antes:
                    <span> {{laptop.price+laptop.price*0.40|currency :'USD' : 'symbol' :'1.0-0'}}</span>
                </p>
                <div [ngStyle]="{display:'flex'}">
                    <button mat-raised-button color="primary" routerLink="/product/{{laptop.id}}">Ver más</button>
                </div>
            </section>
        </div>
    </div>
</article>